[submodule "eisen"]
	path = eisen
	url = git@git.vauxoo.com:vauxoo/eisen.git
	branch = 12.0
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 12.0
[submodule "rma"]
	path = rma
	url = https://github.com/Vauxoo/rma.git
	branch = 12.0
